<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>en</string>
    <key>CFBundleExecutable</key><string>PiPTidy</string>
    <key>CFBundleIdentifier</key><string>app.piptidy.PiPTidy.debug</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>PiP Tidy</string>
    <key>CFBundleDisplayName</key><string>PiP Tidy</string>
    <key>CFBundleIconFile</key><string>AppIcon-1024.png</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.2.0</string>
    <key>CFBundleVersion</key><string>2</string>
    <key>LSUIElement</key><true/>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>NSAccessibilityUsageDescription</key><string>PiP Tidy detects, moves, and resizes your picture-in-picture window.</string>
    <key>NSScreenCaptureUsageDescription</key><string>PiP Tidy analyzes screen layout to find an unobtrusive picture-in-picture placement.</string>
    <key>PiPTidyFeedbackURL</key><string>https://github.com/meganlevin/PiPTidy/issues/new/choose</string>
    <key>PiPTidyWebsiteURL</key><string>https://meganlevin.github.io/PiPTidy/</string>
    <key>PiPTidyReleasesURL</key><string>https://github.com/meganlevin/PiPTidy/releases/latest</string>
</dict>
</plist>
