.ticker div {
  display: flex;
  animation-duration: 11s;
}

.ticker span {
  display: block;
}

.construction-guy {
  display: block;
  width: 150px;
  height: 150px;
  margin: -20px auto 4px;
  object-fit: cover;
  image-rendering: pixelated;
}
